@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgb(0, 100, 231);
    height: 100%;
}

header > h1 {
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 3em;
}

main {
    max-width: 90vw;
    width: 500px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);
    background-color: rgb(238, 238, 238);
    margin: auto;
    margin-top: 50px;
}

section {
    padding-top: 5px;
    padding-left: 20px;
}

#dados > p {
    margin-top: 15px;
}

#dados > input {
    margin-top: 20px;
}

#res {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

footer {
    padding: 40px;
}

footer > p {
    font-size: 0.8em;
    color: white;
    text-align: center;
    font-style: italic;
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}